<div>
  <h4>{{data.title}} </h4>
</div>

<div>
  <h5><b>Author: {{data.source}} </b></h5>
</div>

<div>
  <p>{{data.description}}</p>
</div>

<div>
  <h6>Ingredients:</h6>
  <ul>
  {{#each data.ingredients}}
  <li>{{this}}</li>
  {{/each}}
  </ul>
</div>

<div>
  <h6>Instructions:</h6>
  <ol>
    {{#each data.instructions}}
    <li>{{this}}</li>
    {{/each}}
  </ol>
</div>

<a class="btn btn-primary" href="/recipes">Return to Recipes</a>

